<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1>Dashboard</h1>
        <p>Welcome to your dashboard {{this.users.username}}!</p>

        <h2>Your Posts</h2>
        <section>
          <input type='hidden' id='post_id' value='{{post.id}}' />
          <h2>{{post.title}}</h2>
          <p>{{post.post_content}}</p>
          <p>By: {{users.username}}</p>
          <p>Date: {{format_date}}</p>
        </section>
        <ul>
          {{#each posts}}
            <li>
              <a href='/post/{{id}}'>{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>