<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1>Dashboard</h1>
        <p>Welcome to your dashboard {{this.users.username}}!</p>

        <h2>Your Posts</h2>
        {{#if loggedIn}}
          <a href='/api/posts/new' class='btn btn-primary'>New Post</a>
        {{/if}}
        {{#each postArray}}
        <section>
          <a href='/api/posts/editPost/{{id}}' class='post-box'>
            <input type='hidden' id='post-id' value='{{id}}' />
            <h2>{{title}}</h2>
            <p>{{post_content}}</p>
            <p>By: {{User.username}}</p>
            <p>Date: {{format_date}}</p>
          </a>
        </section>
        {{/each}}
      </div>
      </div>
      </div>
    </div>
  </div>
</section>