<!-- The dashboard view will display the user's posts and provide a link to create a new post if logged in. -->
<div class='container'>
      <h1>Dashboard</h1>
      <p>Welcome to your dashboard {{userLogged.dataValues.username}}!</p>
      <h2>Your Posts</h2>
      {{#if loggedIn}}
        <a href='/api/posts/new' class='btn btn-primary'>New Post</a>
      {{/if}}
      {{#each postArray}}
  {{!-- <div class='row'>
    <div class='col-md-12 box-color'> --}}
        <section class='post-section'>
          <a href='/api/posts/editPost/{{id}}' class='post-box'>
            <input type='hidden' id='post-id' value='{{id}}' />
            <div class="post-header">
            <h3 class="post-title">Title: {{title}}</h3>
            <p>By: {{User.username}} </p>
            </div>
            <div class="post-contents">Content: {{post_content}}</div>
            <div class='post-date'>Posted on: {{format_date}}</div>
          </a>
        </section>
      {{/each}}
    </div>