<section>
  <h1>Homepage</h1>
  <!-- Display all posts for each post in the postArray -->
  {{#each postArray}}
    <div>
      <h2>{{title}}</h2>
      <p>{{post_content}}</p>
      <p>Posted by: {{post_username}}</p>
      <p>Posted on: {{date}}</p>
      <!-- This is the add comment route -->
      {{#if loggedIn}}
        <a href='/addComment/{{id}}'>Add Comment</a>
      {{/if}}
      <!-- This is the view comments route -->
      <a href='/viewComments/{{id}}'>View Comments</a>
    </div>
  {{/each}}
</section>