<section>
  <h1>Homepage</h1>
  {{#each postArray}}
    <div>
      <h2><a href='/api/posts/{{id}}'>{{title}}</a></h2>
      <p>Posted on: {{format_date}}</p>
      <!-- Display comments for the post -->
      {{#each posts}}
        <li>
          <a href='/post/{{id}}'>{{title}}</a>
        </li>
      {{/each}}
      <div>
        {{> comments}}
      </div>
    </div>
  {{/each}}
</section>
