<!-- Display all posts on the homepage with a clickable post to view a specific post. -->
<section>
  <h1>Homepage</h1>
  {{#each postArray as |post|}}
    <div>
      <a href="/post/{{post.id}}">
        <h3>Title: {{post.title}}</h3>
        <p>By: {{User.username}}</p>
        <p>Posted on: {{format_date}}</p>
      </a>
      <!-- Display comments for the post. -->
        {{#each comments}}
          <p>{{comment}}</p>
        {{/each}}
      </div>
    </div>
  {{/each}}
</section>
