<!-- This is the post page. It displays contents of the post, the comments, and a form to add a new comment if you're logged in. -->
<section>
    <input type="hidden" id="post-id" value="{{id}}">
    <h2>{{title}}</h2>
    <p>{{post_content}}</p>
    <p>By: {{User.username}}</p>
    <p>Date: {{format_date}}</p>
</section>
{{#if loggedIn}}
<div>
        <form id="new-comment-form" action="/api/comments/api/posts/1" method="POST">
         <input type="hidden" id="post-id" value="{{id}}">
        <label for="comment_text">New Comment</label>
    <textarea id="comment-content" name="comment_text" placeholder="Enter your comment here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
{{/if}}
    <div>
        {{#each Comments as |comment|}}
        {{> comments}}
        {{/each}}
    </div>

{{#if loggedIn}}
    <script src='/js/comment.js'></script>
{{/if}}