<!-- This is the post page. It displays the title, post content, author, and date of a post. -->
<section>
    <input type="hidden" id="post_id" value="{{post.id}}">
    <h2>{{post.title}}</h2>
    <p>{{post.post_content}}</p>
    <p>By: {{users.username}}</p>
    <p>Date: {{format_date}}</p>
</section>
{{#if loggedIn}}
<div>
    <div>
        {{> comments}}
    </div>
    <div>
        <form id="new-comment-form" action="/comments" method="POST">
        <label for="comment_text">New Comment</label>
    <textarea id="comment-content" name="comment_text" placeholder="Enter your comment here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>
{{/if}}

{{#if loggedIn}}
    <script src='/js/comment.js'></script>
{{/if}}