<!-- This is the post page. It displays contents of the post, the comments, and a form to add a new comment if you're logged in. -->
<section>
    <input type="hidden" id="post-id" value="{{id}}">
    <h2>Title: {{title}}</h2>
    <p>Content: {{post_content}}</p>
    <p>By: {{User.username}}</p>
    <p>Date: {{format_date}}</p>
</section>
<!-- If the user is logged in, display the form to add a new comment. Otherwise, display a message to log in or sign up. -->
{{#if loggedIn}}
<div>
        <form id="new-comment-form" action="/api/comments/api/posts/1" method="POST">
         <input type="hidden" id="post_id" value="{{id}}">
        <label for="comment_text">New Comment</label>
    <textarea id="comment_text" name="comment_text" placeholder="Enter your comment here"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{else}}
    <p>You must be logged in to comment.</p>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
{{/if}}
<!-- Display all comments for the post. -->
    <div>
        {{#each Comments as |comment|}}
        {{> comments}}
        {{/each}}
    </div>
<!-- If the user is logged in, display the comment script. -->
{{#if loggedIn}}
    <script src='/js/comment.js'></script>
{{/if}}