<!-- This is the post page. It displays the title, post content, author, and date of a post. -->
<section>
    <input type="hidden" id="post_id" value="{{post.id}}">
    <h2>{{post.title}}</h2>
    <p>{{post.post_content}}</p>
    <p>By: {{users.username}}</p>
    <p>Date: {{format_date}}</p>
</section>
{{#if loggedIn}}
<div>
    <h3>Comments</h3>
    <div>
        {{> comments}}
    </div>
    <div>
        <textarea id="comment-content" placeholder="Enter your comment here"></textarea>
        <button id="new-comment-form">Submit</button>
    </div>
</div>
{{/if}}

{{#if loggedIn}}
    <script src='../../public/js/comment.js'></script>
{{/if}}